{%- include "title_leading.tmpl" -%}
  {%- include "title_kind.tmpl" -%}
  {{- noop() }} <code>{% include "name_qualified.tmpl" %}::{{ render("name_qualified.tmpl", child) }}</code>
{%- include "title_trailing.tmpl" -%}
