{% if exists("publicClasses") %}## Public Classes

<code class="doxybook">
{%- for child in publicClasses -%}
{{- render("synopsis_brief.tmpl", child) -}}
{{- render("synopsis_template_parameters.tmpl", child) -}}
<span>{{- render("synopsis_kind.tmpl", child) -}}<b><a href="{{child.url}}">{{child.name}}</a></b>;</span>
{%- if not loop.is_last -%}<br>{%- endif -%}
{%- endfor -%}
</code>
{%- endif -%}
{% if exists("protectedClasses") %}## Protected Classes

<code class="doxybook">
{%- for child in protectedClasses -%}
{{- render("synopsis_brief.tmpl", child) -}}
{{- render("synopsis_template_parameters.tmpl", child) -}}
<span>{{- render("synopsis_kind.tmpl", child) -}}<b><a href="{{child.url}}">{{child.name}}</a></b>;</span>
{%- if not loop.is_last -%}<br>{%- endif -%}
{%- endfor -%}
</code>
{%- endif -%}
{% if exists("publicTypes") %}## Public Types

|                | Name           |
| -------------- | -------------- |
{% for child in publicTypes %}| {% if existsIn(child, "templateParams") %}template \<{% for param in child.templateParams %}{{param.typePlain}} {{param.name}}{% if existsIn(param, "defvalPlain") %} ={{param.defvalPlain}}{% endif %}{% if not loop.is_last %},{% endif %}{% endfor %}\><br>{% endif %}{{child.kind}}{% if existsIn(child, "type") %} {{child.type}}{% endif %} | **[{{child.name}}]({{child.url}})** {% if child.kind == "enum" %}{ {% for enumvalue in child.enumvalues %}{{enumvalue.name}}{% if existsIn(enumvalue, "initializer") %} {{enumvalue.initializer}}{% endif %}{% if not loop.is_last %}, {% endif %}{% endfor %} }{% endif %}{% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}{% endif %}
{% if exists("protectedTypes") %}## Protected Types

|                | Name           |
| -------------- | -------------- |
{% for child in protectedTypes %}| {% if existsIn(child, "templateParams") %}template \<{% for param in child.templateParams %}{{param.typePlain}} {{param.name}}{% if existsIn(param, "defvalPlain") %} ={{param.defvalPlain}}{% endif %}{% if not loop.is_last %},{% endif %}{% endfor %}\><br>{% endif %}{{child.kind}}{% if existsIn(child, "type") %} {{child.type}}{% endif %} | **[{{child.name}}]({{child.url}})** {% if child.kind == "enum" %}{ {% for enumvalue in child.enumvalues %}{{enumvalue.name}}{% if existsIn(enumvalue, "initializer") %} {{enumvalue.initializer}}{% endif %}{% if not loop.is_last %}, {% endif %}{% endfor %} }{% endif %}{% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}{% endif %}
{%- if exists("publicFunctions") -%}## Public Member Functions

<code class="doxybook">
{%- for child in publicFunctions -%}
{{- render("synopsis_brief.tmpl", child) -}}
{{- render("synopsis_template_parameters.tmpl", child) -}}
{{- render("synopsis_function_return_type_and_leading_specifiers.tmpl", child) -}}
<span><b><a href="{{child.url}}">{{child.name}}</a></b>({{- render("synopsis_function_parameters.tmpl", child) -}}){{- render("synopsis_function_trailing_specifiers.tmpl", child) -}};</span>
{%- if not loop.is_last -%}<br>{%- endif -%}
{%- endfor -%}
</code>
{%- endif -%}
{% if exists("protectedFunctions") %}## Protected Member Functions

<code class="doxybook">
{%- for child in protectedFunctions -%}
{{- render("synopsis_brief.tmpl", child) -}}
{{- render("synopsis_template_parameters.tmpl", child) -}}
{{- render("synopsis_function_return_type_and_leading_specifiers.tmpl", child) -}}
<span><b><a href="{{child.url}}">{{child.name}}</a></b>({{- render("synopsis_function_parameters.tmpl", child) -}}){{- render("synopsis_function_trailing_specifiers.tmpl", child) -}};</span>
{%- if not loop.is_last -%}<br>{%- endif -%}
{%- endfor -%}
</code>
{%- endif -%}
{% if exists("friends") %}## Friends

|                | Name           |
| -------------- | -------------- |
{% for child in friends %}| {% if existsIn(child, "type") %}{{child.type}}{% endif %} | **[{{child.name}}]({{child.url}})**{% if child.type != "class" or child.type != "struct"%}({% for param in child.params %}{{param.type}} {{param.name}}{% if existsIn(param, "defval") %} ={{param.defval}}{% endif %}{% if not loop.is_last %}, {% endif %}{% endfor %}){% if child.const %} const{% endif %}{% endif %} {% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}{% endif %}
