<code class="doxybook">
{%- if exists("includes") -%}
  <span>#include {{includes}}</span>{#- -#}
  <br>
{%- endif -%}
{%- include "synopsis_template_parameters.tmpl" -%}
<span>{%- include "synopsis_kind_abbreviated.tmpl" -%}{{name}} {</span>
{%- if exists("publicClasses") or exists("publicTypes") or exists("publicAttributes") or exists("publicFunctions") or exists("friends") -%}
<span>public:</span>
{%- endif -%}
{%- if exists("publicClasses") -%}
  {%- for child in publicClasses -%}
    <br>
    {{- render("synopsis_brief.tmpl", child) -}}
    {{- render("synopsis_template_parameters.tmpl", load(child.refid)) -}}
    <span>{{- render("synopsis_kind_abbreviated.tmpl", child) -}}<b><a href="{{child.url}}">{{child.name}}</a></b>;</span>
  {%- endfor -%}
{%- endif -%}
{%- if exists("friends") -%}
  {%- for child in friends -%}
    {%- if child.type == "class" or child.type == "struct" -%}
      <br>{#- -#}
      {{- render("synopsis_brief.tmpl", child) -}}
      {{- render("synopsis_template_parameters.tmpl", child) -}}
      <span>{{- render("synopsis_kind_abbreviated.tmpl", child) -}}<b><a href="{{child.url}}">{{child.name}}</a></b>;</span>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- if exists("publicTypes") -%}
  {%- for child in publicTypes -%}
    <br>{#- -#}
    {{- render("synopsis_brief.tmpl", child) -}}
    {{- render("synopsis_template_parameters.tmpl", child) -}}
    <span>{{- render("synopsis_kind_abbreviated.tmpl", child) -}}<b><a href="{{child.url}}">{{child.name}}</a></b>{{- render("synopsis_initializer_abbreviated.tmpl", child) -}};</span>
  {%- endfor -%}
{%- endif -%}
{%- if exists("publicAttributes") -%}
  {%- for child in publicAttributes -%}
    <br>{#- -#}
    {{- render("synopsis_brief.tmpl", child) -}}
    {{- render("synopsis_template_parameters.tmpl", child) -}}
    <span>{{- render("synopsis_type_and_leading_specifiers.tmpl", child) -}}<b><a href="{{child.url}}">{{child.name}}</a></b>{{- render("synopsis_initializer_abbreviated.tmpl", child) -}};</span>
  {%- endfor -%}
{%- endif -%}
{%- if exists("publicFunctions") -%}
  {%- for child in publicFunctions -%}
    <br>{#- -#}
    {{- render("synopsis_brief.tmpl", child) -}}
    {{- render("synopsis_template_parameters.tmpl", child) -}}
    <span>{{- render("synopsis_type_and_leading_specifiers.tmpl", child) -}}</span>{#- -#}
    <span><b><a href="{{child.url}}">{{child.name}}</a></b>({{- render("synopsis_function_parameters.tmpl", child) -}}){{- render("synopsis_function_trailing_specifiers.tmpl", child) -}};</span>
  {%- endfor -%}
{%- endif -%}
{%- if exists("friends") -%}
  {%- for child in friends -%}
    {%- if child.type == "class" or child.type == "struct" -%}
      <br>{#- -#}
      {{- render("synopsis_brief.tmpl", child) -}}
      {{- render("synopsis_template_parameters.tmpl", child) -}}
      <span>{{- render("synopsis_type_and_leading_specifiers.tmpl", child) -}}</span>{#- -#}
      <span><b><a href="{{child.url}}">{{child.name}}</a></b>({{- render("synopsis_function_parameters.tmpl", child) -}}){{- render("synopsis_function_trailing_specifiers.tmpl", child) -}};</span>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
};
</code>
