{%- if exists("publicTypes") %}## Public Types Documentation

  {%- for child in publicTypes %}{{- render("member_details.tmpl", child) -}}
  {%- endfor %}
{% endif -%}
{%- if exists("protectedTypes") %}## Protected Types Documentation

  {%- for child in protectedTypes %}{{- render("member_details.tmpl", child) -}}
  {%- endfor %}
{% endif -%}
{%- if exists("publicFunctions") %}## Public Functions Documentation

  {%- for child in publicFunctions %}{{- render("member_details.tmpl", child) -}}
  {%- endfor %}
{% endif -%}
{%- if exists("protectedFunctions") %}## Protected Functions Documentation

  {%- for child in protectedFunctions %}{{- render("member_details.tmpl", child) -}}
  {%- endfor %}
{% endif -%}
{%- if exists("friends") %}## Friends

  {%- for child in friends %}{{- render("member_details.tmpl", child) -}}
  {%- endfor %}
{% endif -%}
