<h3 id="{{child.kind}}-{{child.name}}">{% if child.kind == "using" %}Type Alias{% else %}{{title(child.kind)}}{% endif %}{% if child.kind == "enum" and child.strong %} Class{% endif %} <code>{{escape(name)}}::{{escape(child.name)}}</code></h3>

