---
{%- if exists("title") -%}title: {{title}}
{%- else if exists("name") -%}title: {{name}}
{%- endif -%}
{%- if exists("summary") -%}summary: {{summary}}
{%- endif -%}
{% include "meta.tmpl" -%}
---

{%- if exists("title") -%}
  {%- if exists("kind") -%}
    {%- if kind == "class" or kind == "struct" or kind == "namespace" -%}# {{title(kind)}} `{{title}}`
    {%- else -%}# {{title}}
    {%- endif -%}
  {%- else -%}# {{title}}
  {%- endif -%}
{%- else if exists("kind") -%}
  {%- if kind != "page" -%}# {{name}} {{title(kind)}} Reference
  {%- else -%}# {{name}}
  {%- endif -%}
{%- endif %}
