<h3 id="{{kind}}-{{name}}">{% if kind == "using" %}Type Alias{% else %}{{title(kind)}}{% endif %}{% if kind == "enum" and strong %} Class{% endif %} <code>{{escape(name)}}::{{escape(name)}}</code></h3>

