{% include "header" %}

{% include "nonclass_members_tables" %}

{% if hasDetails %}## Detailed Description

{% include "details" %}{% endif %}

{% include "nonclass_members_details" %}

{% include "footer" %}
