{% include "header" %}

<code class="doxybook">
{%- if exists("includes") -%}<span>#include {{includes}}</span>{%- endif -%}
<br>
{% include "synopsis_template_parameters.tmpl" -%}
<span>{%- include "synopsis_kind.tmpl" -%}{{name}};</span>
</code>

{%- if hasDetails -%}{% include "details" -%}{%- endif -%}
{% include "class_members_tables" -%}
{%- if hasAdditionalMembers -%}{% include "class_members_inherited_tables" -%}{%- endif -%}
{% include "class_members_details" -%}
{% include "footer" -%}
