{% include "header.tmpl" -%}
{%- if hasDetails -%}{% include "details.tmpl" -%}{%- endif -%}
{% include "class_members.tmpl" -%}
{%- if hasAdditionalMembers -%}{% include "class_members_inherited.tmpl" -%}{%- endif -%}
{% include "class_members_details.tmpl" -%}
