{% include "header_member_details.tmpl" %}
{%- if kind == "enum" -%}
  {%- include "table_header_enum.tmpl" -%}
  {%- for enumerator in enumvalues -%}{{- render("table_row_enum.tmpl", enumerator) -}}
  {%- endfor %}
{% endif -%}
{%- if kind in ["typedef", "using"] -%}
  <code class="doxybook">
  {% include "synopsis_template_parameters.tmpl" -%}
  <span>{%- include "synopsis_kind.tmpl" -%}<b>{{name}}</b>{%- include "synopsis_initializer.tmpl" -%};</span>{{- comment("") -}}
  </code>
{% endif -%}
{%- if kind in ["variable", "property"] -%}
  <code class="doxybook">
  {% include "synopsis_template_parameters.tmpl" -%}
  <span>{%- include "synopsis_type_and_leading_specifiers.tmpl" -%}<b>{{name}}</b>{%- include "synopsis_initializer.tmpl" -%};</span>{{- comment("") -}}
  </code>
{% endif -%}
{%- if kind in ["function", "slot", "signal", "event"] -%}
  <code class="doxybook">
  {% include "synopsis_template_parameters.tmpl" -%}
  <span>{%- include "synopsis_type_and_leading_specifiers.tmpl" -%}</span>{{- comment("") -}}
  <span><b>{{name}}</b>({%- include "synopsis_function_parameters.tmpl" -%}){%- include "synopsis_function_trailing_specifiers.tmpl" -%};</span>{{- comment("") -}}
  </code>
{% endif -%}
{%- if kind == "friend" -%}```cpp
friend {% if exists("typePlain") %}{{typePlain}} {% endif %}{{name}}{% if exists("params") %}{% endif %}{% if length(params) > 0 %}(
{% for param in params %}    {{param.typePlain}} {{param.name}}{% if existsIn(param, "defvalPlain") %} ={{param.defvalPlain}}{% endif %}{% if not loop.is_last %},{% endif %}
{% endfor %}){% else if typePlain != "class" %}(){% endif %};
```{% endif -%}
{%- if kind == "define" -%}```cpp
#define {{name}}{% if exists("params") %}(
{% for param in params %}    {{param.name}}{% if existsIn(param, "defvalPlain") %} ={{param.defvalPlain}}{% endif %}{% if not loop.is_last %},{% endif %}
{% endfor %}){% endif %}{% if exists("initializer") %} {{initializer}}{% endif %}
```{% endif -%}
{% include "details.tmpl" -%}
