{%- if exists("groups") %}## Groups

  {%- for child in sort(groups) -%}* **[{{child.title}}]({{child.url}})**{% if existsIn(child, "brief") %}: {{child.brief}}{% endif %}
  {%- endfor %}
{% endif -%}
{%- if exists("dirs") %}## Directories

  {%- for child in dirs -%}* **[`{{child.name}}`]({{child.url}})**{% if existsIn(child, "brief") %}: {{child.brief}}{% endif %}
  {%- endfor %}
{% endif -%}
{%- if exists("files") %}## Files

  {%- for child in files -%}* **[`{{child.name}}`]({{child.url}})**{% if existsIn(child, "brief") %}: {{child.brief}}{% endif %}
  {%- endfor %}
{% endif -%}
{%- if exists("namespaces") %}## Namespaces

  {%- for child in namespaces -%}* **[`{{child.name}}`]({{child.url}})**{% if existsIn(child, "brief") %}: {{child.brief}}{% endif %}
  {%- endfor %}
{% endif -%}
{%- if exists("publicClasses") %}## Classes

  {%- for child in publicClasses -%}* **[`{{child.name}}`]({{child.url}})**{% if exists("brief") %}: {{brief}}{% endif %}
  {%- endfor %}
{% endif -%}
{% if exists("publicTypes") %}## Types

|                | Name           |
| -------------- | -------------- |
{% for child in publicTypes %}| {% if existsIn(child, "templateParams") %}template \<{% for param in child.templateParams %}{{param.typePlain}} {{param.name}}{% if existsIn(param, "defvalPlain") %} ={{param.defvalPlain}}{% endif %}{% if not loop.is_last %},{% endif %}{% endfor %}\><br>{% endif %}{{child.kind}}{% if existsIn(child, "type") %} {{child.type}}{% endif %} | **[{{child.name}}]({{child.url}})** {% if child.kind == "enum" %}{ {% for enumvalue in child.enumvalues %}{{enumvalue.name}}{% if existsIn(enumvalue, "initializer") %} {{enumvalue.initializer}}{% endif %}{% if not loop.is_last %}, {% endif %}{% endfor %} }{% endif %}{% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}{% endif %}
{%- if exists("publicFunctions") %}## Functions

<code class="doxybook">
{%- for child in publicFunctions -%}
{{- render("synopsis_brief.tmpl", child) -}}
{{- render("synopsis_template_parameters.tmpl", child) -}}
{{- render("synopsis_function_return_type_and_leading_specifiers.tmpl", child) -}}
<span><b><a href="{{child.url}}">{{child.name}}</a></b>({{- render("synopsis_function_parameters.tmpl", child) -}}){{- render("synopsis_function_trailing_specifiers.tmpl", child) -}};</span>
{%- if not loop.is_last -%}<br>{%- endif -%}
{%- endfor -%}
</code>
{% endif -%}
{% if exists("defines") %}## Defines

|                | Name           |
| -------------- | -------------- |
{% for child in defines %}| {% if existsIn(child, "type") %}{{child.type}}{% endif %} | **[{{child.name}}]({{child.url}})**{% if existsIn(child, "params") %}({% for param in child.params %}{{param.name}}{% if existsIn(param, "defval") %} ={{param.defval}}{% endif %}{% if not loop.is_last %}, {% endif %}{% endfor %}){% endif %} {% if existsIn(child, "brief") %}<br>{{child.brief}}{% endif %} |
{% endfor %}{% endif %}
