{% if exists("publicTypes") %}## Types Documentation

{% for child in publicTypes %}<h3 id="{{child.kind}}-{{child.name}}">{{ title(child.kind) }} <code>{{ escape(child.name) }}</code></h3>

{{ render("member_details", child) }}
{% endfor %}{% endif %}
{% if exists("publicFunctions") %}## Functions Documentation

{% for child in publicFunctions %}<h2 id="{{child.kind}}-{{child.name}}">{{ title(child.kind) }} <code>{{ escape(child.name) }}</code></h2>

{{ render("member_details", child) }}
{% endfor %}{% endif %}
{% if exists("publicAttributes") %}## Attributes Documentation

{% for child in publicAttributes %}<h3 id="{{child.kind}}-{{child.name}}">{{ title(child.kind) }} <code>{{ escape(child.name) }}</code></h3>

{{ render("member_details", child) }}
{% endfor %}{% endif %}
{% if exists("defines") %}## Macro Documentation

{% for child in defines %}<h3 id="{{child.kind}}-{{child.name}}">{{ title(child.kind) }} <code>{{ escape(child.name) }}</code></h3>

{{ render("member_details", child) }}
{% endfor %}{% endif %}
