{%- if default(virtual, false) or default(static, false) or default(explicit, false) or default(type, false) -%}
<span>{%- include "synopsis_type_and_leading_specifiers.tmpl" -%}</span>{#- -#}
{%- endif -%}
