<span class="doxybook-comment">{{ noop() -}}
  {%- include "synopsis_indent.tmpl" -%}
  /* Inherited from <code>{{ noop() -}}
    <b><a href="{{ url }}">{%- include "name_qualified.tmpl" -%}</a></b>{{ noop() -}}
  </code> */{{ noop() -}}
</span>{{ noop() -}}
